{%extends './layout.html'%}
{% block body %}
<title>login</title>
    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">
        </div>
        <form id="formulario" class="formulario" >
            <div class="texto-formulario">
                <h2>Bienvenido de nuevo</h2>
                <p>Inicia sesión con tu cuenta</p>
            </div>
            <div class="input">
                <label for="usuario">Usuario</label>
                <input placeholder="Ingresa tu nombre" type="text" id="usuario">
            </div>
            <div class="input">
                <label for="contraseña">Contraseña</label>
                <input placeholder="Ingresa tu contraseña" type="password" id="contraseña">
            </div>
            <div class="password-olvidada">
                <a href="/fronted/indexregistros">Registrarse</a>
            </div>
            <div>
                <a onclick="ingresar()" class="btn btn-primary" type="submit">Login</a>
            </div>
        </form>
    </div>


<script src="{{url_for('static', filename='js/inicio_logn.js')}}"></script>

{% endblock %}