{%extends './layout.html'%}
{% block body %}


<body class="index">
    <div class="contain">
        <div class="row ">
            <div class="col-6">
                <h2>Calcular amortización método francés</h2>
                <div class="form-group">
                    <label for="monto">Monto</label>
                    <input type="text" class="form-control" id="monto" placeholder="Ingresar monto">
                </div>
                <div class="form-group">
                    <label for="tiempo">Tiempo en Meses</label>
                    <input type="text" class="form-control" id="tiempo" placeholder="Ingresar cantidad de meses">
                </div>
                <div class="form-group">
                    <label for="interes">Interés Mensual</label>
                    <input type="text" class="form-control" id="interes" placeholder="Ingresar tasa de interés mensual">
                </div>
                <button onclick="guardar()" type="submit" class="btn btn-primary">Calcular</button>
            </div>
            <div class="col-6">
                <table id="lista-tabla" class="table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cuota</th>
                            <th>Capital</th>
                            <th>Interés</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
  

</body>

<footer style="position:fixed; left:0px; bottom:0px; height:30px; width:100%;">
    <small>&copy; Copyright 2020, Erick Cerna R</small>
</footer>

<script src="{{url_for('static', filename='js/amortizacion.js')}}"></script>
{% endblock %}