{% extends './layout.html' %}
{% block body %}
<body class="index">
    <div class="contain">
        <div class="row ">
            <div class="col-6">
                <h2>Calcular amortización método francés</h2>
                <div class="form-group">
                    <label for="monto">Monto</label>
                    <input type="text" class="form-control" id="monto" placeholder="Ingresar monto">
                </div>
                <div class="form-group">
                    <label for="tiempo">Tiempo en Meses</label>
                    <input type="text" class="form-control" id="tiempo" placeholder="Ingresar cantidad de meses">
                </div>
                <div class="form-group">
                    <label for="interes">Interés Mensual</label>
                    <input type="text" class="form-control" id="interes" placeholder="Ingresar tasa de interés mensual">
                </div>
                <button type="submit" class="btn btn-primary" onclick="calcularCuota(), guardar(),  generarResultado();">Calcular</button>
                <button type="submit" class="btn btn-primary" onclick="calcularCuota(), guardar(),  generarResultado();">ver</button>
            </div>
            <div class="col-6">
                <table id="lista-tabla" class="table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cuota</th>
                            <th>Capital</th>
                            <th>Interés</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal" id="modalactu2">
        <div class="modal-content1">
            <span class="close1"></span>
            <div class="mensaje1">
                <h1>Actualización De Datos</h1>
            </div>
            <br>
            <div class="text">
                <form class="form-control">
                    <form>
                        <label>Id del aprendiz:</label>
                        <input class="actu" type="text" disabled id="id-e1">
                        <br>
                        <label>Nombres:</label>
                        <input class="actu" type="text" id="nombre">
                        <br>
                        <label>Apellidos:</label>
                        <input class="actu" type="text" id="Apellido">
                        <br>                         
                        <label>Curso:</label>
                        <input class="actu" type="text" id="curso">
                        <br>
                        <label>N.Ficha:</label>
                        <input class="actu" type="text" id="Nficha">
                        <label>N.Documento:</label>
                        <input class="actu" type="text" id="documento">                         
                        <br>
                        <form onsubmit="return validarmodal1()">
                            <!-- contenido del formulario -->
                        <input class="btn-actualizar" type="button" onclick="openModal()" value="Actualizar Datos">
                          </form>
                    </form>
                </form>
            </div>
        </div>  
    </div>
</body>

<footer style="position:fixed; left:0px; bottom:0px; height:30px; width:100%;">
    <small>&copy; Copyright 2020, Erick Cerna R</small>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
<script src="{{url_for('static', filename='js/amortizacion.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

{% endblock %}
